/* Colors */
/* Define brand */

[data-md-color-scheme="default"] > * {
    --md-default-fg-color: #000000eb;
    --md-default-fg-color--contrast: #0e0e0e;
    --md-typeset-a-color: #6241be;

}

[data-md-color-scheme="slate"] > * {
    --md-hue: 254deg;
    --md-primary-fg-color: var(--md-default-bg-color);
    --md-typeset-a-color: #784ff4;
    --md-default-fg-color--contrast: #f6f6f6;
}

:root {
  --md-status--enterprise: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>');
  --md-admonition-icon--enterprise-adm: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star</title><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>');
}

.md-status--enterprise::after {
  mask-image: var(--md-status--enterprise);
  -webkit-mask-image: var(--md-status--enterprise);
}

.md-typeset .enterprise-adm > summary {}
.md-typeset .enterprise-adm > .admonition-title::before,
.md-typeset .enterprise-adm > summary::before {
          mask-image: var(--md-admonition-icon--enterprise-adm);
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Nav & Footer */

[data-md-color-primary=slate] .md-header,
[data-md-color-primary=slate] nav.md-tabs {
    background-color: inherit;
}

.md-tabs {
    color: var(--md-typeset-color);
}

.md-tabs__link {
    /* color: var(--md-typeset-color); */
    opacity: .85;
}

.md-nav {
    font-size: 0.75rem;
    /* line-height: 1.25; */
}

.md-tabs__link {
    font-size: 0.8rem;
}

.md-footer-meta {
    background: none;
}

/* Buttons */

.md-typeset .md-button {
    border-radius: 6px;
    line-height: normal;
    padding: .525em 1em;
}

[data-md-color-scheme="default"]
.md-typeset .md-button--primary {
    --md-primary-fg-color: #7e56c2;
    --md-primary-bg-color: #fff;
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color)
}

[data-md-color-scheme="default"] .md-typeset :not(.md-button--primary).md-button:focus,
[data-md-color-scheme="default"] .md-typeset :not(.md-button--primary).md-button:hover {
    background-color: white;
    border-color: var(--md-typeset-a-color);
    color: var(--md-typeset-a-color);
}

[data-md-color-primary=black] :not(.md-button--primary).md-button {
    color: #865ffe;
}

[data-md-color-primary=black] :not(.md-button--primary).md-button:focus,
[data-md-color-primary=black] :not(.md-button--primary).md-button:hover {
    background-color: inherit;
    border-color: #865ffe;
}


/* Logo mod */

#logo_light_mode {
    display: var(--md-footer-logo-light-mode);
}

#logo_dark_mode {
    display: var(--md-footer-logo-dark-mode);
}

[data-md-color-scheme="default"] {
    --md-footer-logo-dark-mode: none;
    --md-footer-logo-light-mode: block;
}

[data-md-color-scheme="slate"] {
    --md-footer-logo-dark-mode: block;
    --md-footer-logo-light-mode: none;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.1rem;
    margin-top: 0.2rem;
}


/* Types */

.md-typeset h1 {
    /* font-weight: 700; */
    /* color: var(--md-default-fg-color); */
}

.md-typeset h2 {
    /* font-weight: 600; */
}

.md-typeset h2,
.md-typeset h3 {
    /* color: var(--md-typeset-color--light); */
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: var(--md-default-fg-color--contrast);
}

/* Content Partials */

.md-typeset .admonition {
    font-size: 0.725rem;
}


/* Navigation mods */

/* Hide shadow of header */
.md-header[data-md-state="shadow"],
.md-header--shadow {
    box-shadow: none;
}

/* Hide border-bottom of nav items */
nav.md-tabs {
    border-bottom: none !important;
}

/* Add border to header */
@media screen and (min-width: 76.25em) {
    [data-md-color-primary=white] header.md-header.md-header--shadow {
        border-bottom: .05rem solid #00000012;
    }
}

:root {
    --header-backdrop-blur: 10px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    [data-md-color-scheme="default"] .md-header,
    [data-md-color-scheme="default"] .md-tabs {
        background-color: rgb(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(var(--header-backdrop-blur));
        backdrop-filter: blur(var(--header-backdrop-blur));
    }
    [data-md-color-scheme="slate"] .md-header,
    [data-md-color-scheme="slate"] .md-tabs {
        background-color: rgb(0, 0, 0, 0.03);
        background-color_: rgba-with-opacity(var(--md-primary-fg-color), 0.03);
        -webkit-backdrop-filter: blur(var(--header-backdrop-blur));
        backdrop-filter: blur(var(--header-backdrop-blur));
    }
}
